* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* Övning 1 - Japan */

.japan {
    height:300px;
    width: 500px;
    box-shadow: 0px 0px 5px 5px rgb(215, 214, 214);
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.cirkel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    width: 160px;
    background: #BD1917;
    border-radius: 50%;
    margin: auto;
}

/* Övning 2 - Menu easy */

.menueasy{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.option {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 100%;
    background: #eeeeee;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #6e6e6e;
}
.dark {
    background: #6e6e6e;     
    color: #eeeeee;
}


/* Övning 3 - Menu medium */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #eeeeee;
    height: 3rem;
    width: 100vw;
    margin-bottom: 20px;
}

section ul li{
    font-family: Arial, Helvetica, sans-serif;
    color: #9b9b9b;
    padding: 10px;
    font-size: 12px;
}

.section__options {
    list-style: none;
}

.section__options li {
    display: inline-block;
    margin-right: 1rem;
}

.zoologo {
    height: 1.5rem;
    width: 8rem;
}


/* Övning 4 - Menu hard */

.btn {
    color: #9b9b9b;
    border-color: #dad9d9;
    border-radius: 5px;
    padding: 3px 10px;
    font-size: 12px;
    margin-right: 1rem;
}

/* Övning 5 - Fibonacci */

.fibonacci {
display: flex;
color: white;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
width: 100%;
background-color: #64b401;
margin-bottom: 20px;

}
.block0 {
    display: flex;
    justify-content: center;
    background-color: #640000;
    height: 6rem;
    width: 2rem;
 }
 
 .block1 {
    display: flex;
    justify-content: center;
    background-color: #640000e9;
    height: 6rem;
    width: 2rem;
 }
 .block_1 {
    justify-content: center;
    background-color: #640000d1;
    height: 6rem;
    width: 2rem;
 }
 .block2 {    
    background-color: #640000c1;
    height: 6rem;
    width: 3rem;
 }
 .block3 {    
    background-color: #640000a1;
    height: 6rem;
    width: 3.5rem;
 }
 .block5 {    
    background-color: #64000087;
    height: 6rem;
    width: 4rem;
 }
 .block8 {    
    background-color: #64000064;
    height: 6rem;
    width: 6rem;
 }
 .block13 {    
    background-color: #64000039;
    height: 6rem;
    width: 10rem;
 }
 .block21 {    
    background-color: #6400002e;
    height: 6rem;
    width: 20rem;
 }
 .block34 {    
    background-color: #64000000;
    height: 6rem;
    width: 37rem;
 }

 /* .fibonacci_reverse */

 .fibonacci__reverse {
    display: flex;
    flex-direction: row-reverse;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 100%;
    background-color: #64b401;
    margin-bottom: 20px;
 }
  
 .block00 {
    display: flex;
    justify-content: center;
    background-color: #640000;
    height: 6rem;
    width: 2rem;
 }
 
 .block11 {
    display: flex;
    justify-content: center;
    background-color: #640000e9;
    height: 6rem;
    width: 2rem;
 }
 .block_11 {
    justify-content: center;
    background-color: #640000d1;
    height: 6rem;
    width: 2rem;
 }
 .block22 {    
    background-color: #640000c1;
    height: 6rem;
    width: 3rem;
 }
 .block33 {    
    background-color: #640000a1;
    height: 6rem;
    width: 3.5rem;
 }
 .block55 {    
    background-color: #64000087;
    height: 6rem;
    width: 4rem;
 }
 .block66 {    
    background-color: #64000064;
    height: 6rem;
    width: 6rem;
 }

 .block133 {    
    background-color: #64000039;
    height: 6rem;
    width: 10rem;
 }
 .block211 {    
    background-color: #6400002e;
    height: 6rem;
    width: 20rem;
 }
 .block344 {    
    background-color: #64000000;
    height: 6rem;
    width: 37rem;
 }
    

 /* Övning 6 - Kort med pacer */

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 300px;
    box-shadow: 0px 0px 5px 5px rgb(215, 214, 214);
    margin: auto;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2rem;

}

.quote {
    font-style: italic;
    font-size: 16px;
    margin: auto;
    margin-bottom: 0;
}

.edsger {
    color: #9b9b9b;
    font-size: 12px;
}

.page-wrapper {
    display: flex;
    margin-top: auto;

}
.pager {
    background-color: gray;
    border: gray solid 6px;
    border-radius: 6px;
    margin: 5px;
}
.black {
    background-color: rgb(0, 0, 0);
    border: rgb(0, 0, 0) solid 6px;
}


 /* Övning 7 - Profilkort - Margret Hamilton */


 .profilecard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 300px;
    box-shadow: 0px 0px 5px 5px rgb(215, 214, 214);
    margin: auto;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2rem;

 }

 /* Övning 6 - Product card */

 .product-card {
     display: flex;
     max-width: 64rem;
     height: 32rem;
     background-color: fff;
     margin: auto;
 }

 .product-card__image {
    margin:0; 
    background: rgb(122, 110, 53);
    display: flex;
}